IMAVD IMAGEM/IMAVD IMAGEM/obj/Debug/
IMAVD IMAGEM/IMAVD IMAGEM/bin/Debug/
IMAVD IMAGEM/.vs/IMAVD IMAGEM/v17/.suo
IMAVD IMAGEM/.vs/IMAVD IMAGEM/FileContentIndex/ad1d7462-bd8a-4a84-afaa-e32ea23bc449.vsidx
